:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --header-sec-color: #000000;
  --header-border-btm-cl: #ececec;
  --text-color-light: #ffffff;
  --background-color-light: #ffffff;
  --secondary-bg-color-light: #f5f4fa;
  --secondary-bg-color-dark: #2f303a;
  --hero-bg-color: #c4c4c4;
  --modal-btn-hover-color: #188ce8;
  --blackout-dark: rgba(47, 48, 58, 0.8);
  --icon-color: #afb1b8;
  --portfolio-btn-active-color: #ffffff;
  --border-color: #eeeeee;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-link-bg: rgba(255, 255, 255, 0.1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.social-list-link, .modal-close-btn, .contact-form-checkbox-label, .header__contacts-link, .client-item-link, .footer-join__link, .footer-form__btn {
  display: flex;
  align-items: center;
}

.clients-wrapper, .footer__wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* css rules to specify families
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
.main-body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.modal-btn {
  background-color: var(--accent-color);
  border: 2px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-color-light);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--modal-btn-hover-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.text-style-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.social-list-item {
  max-width: 100%;
}

.social-list-link {
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-icon,
.social-list-link:focus .social-icon {
  fill: var(--text-color-light);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: var(--background-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-form-title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.contact-form-field {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.contact-form-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-message {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
  border-color: var(--accent-color);
}

.contact-form-message::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* CUSTOM CHECKBOX */
.contact-form-checkbox-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.contact-form-checkbox-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checkbox-icon-wrapper {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  cursor: pointer;
  content: "";
  margin-right: 8px;
}

.contact-form-checkbox:checked + .checkbox-icon-wrapper {
  /* background: var(--accent-color) url(../images/check-icon.svg) no-repeat 50%
        50%; */
  fill: var(--text-color-light);
  border: var(--accent-color);
  background-origin: border-box;
  background-image: url(../images/check-icon-2.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.contact-form-checkbox-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

/* CUSTOM CHECKBOX END */
.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  padding: 8px 53px;
}

@media screen and (min-width: 1200px) {
  .contact-form-checkbox-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid var(--header-border-btm-cl);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--background-color-light);
}

.mobile__container {
  padding-left: 15px;
}

.logo__theme-dark {
  color: var(--header-sec-color);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  fill: var(--main-text-color);
  cursor: pointer;
}

.mobile-menu-btn__burger {
  fill: var(--header-sec-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover .mobile-menu-btn__burger,
.mobile-menu-btn:focus .mobile-menu-btn__burger {
  fill: var(--accent-color);
}

.mobile-menu-btn--close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu-btn__close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover .mobile-menu-btn__close,
.mobile-menu-btn:focus .mobile-menu-btn__close {
  fill: var(--accent-color);
}

.nav-list__link {
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.header__contacts {
  display: flex;
  flex-direction: column;
}

.header__contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--accent-color);
}

.mobile-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-left: -10px;
}

.mobile-menu-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-list__item-link {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-list {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .header__contacts-list:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .mobile__container {
    justify-content: space-between;
    padding-right: 15px;
  }
  .mobile-menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: var(--background-color-light);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-wrapper.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-wrapper.is-open .header__container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .mobile-menu-wrapper__cont {
    position: relative;
    padding-bottom: 48px;
    padding-top: 48px;
  }
  .nav-list {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  .nav-list__item:not(:first-child) {
    margin-top: 32px;
  }
  .header__contacts {
    margin-top: 302px;
  }
  .header__contacts-list:first-child {
    margin-top: 32px;
    order: 2;
  }
  .header__email {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .header__icon {
    display: none;
  }
  .header__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile__container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .mobile__container {
    margin-left: auto;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu-wrapper {
    width: 530.91px;
    margin-left: 88px;
    margin-right: auto;
    padding-right: 15px;
  }
  .mobile-menu-wrapper__cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .nav-list {
    display: flex;
  }
  .nav-list__item:not(:first-child) {
    margin-left: 50px;
  }
  .nav-list__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav-list .nav-list__link.current {
    color: var(--accent-color);
  }
  .nav-list .nav-list__link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .header__contacts-link {
    color: var(--secondary-text-color);
  }
  .header__icon {
    fill: var(--secondary-text-color);
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contacts-link:hover .header__icon,
  .header__contacts-link:focus .header__icon {
    fill: var(--accent-color);
  }
  .mobile-menu-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .mobile-menu-wrapper {
    width: 946.73px;
    margin-left: 93px;
  }
  .header__contacts {
    flex-direction: row;
    align-items: center;
  }
  .header__contacts-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header__contacts-list:not(:first-child) {
    margin-left: 30px;
  }
}

.hero {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-bg-color);
  text-align: center;
  background-image: url(/images/hero/hero-bg-mobile.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-light);
}

.hero-btn {
  padding: 8px 30px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/hero/hero-bg-mobile@2x.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/hero-bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/hero-bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/hero-bg-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/hero-bg-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.description {
  margin-left: auto;
  margin-right: auto;
}

.desc-list {
  margin-top: -30px;
}

.desc-list-item {
  margin-top: 30px;
}

.desc-wrapper-icon {
  background: var(--secondary-bg-color-light);
  padding: 25px;
  text-align: center;
}

.desc-icon {
  width: 70px;
  height: 70px;
  fill: var(--main-text-color);
}

.desc-item-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.desc-item-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .description {
    max-width: 480px;
  }
  .desc-item-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .description {
    width: 768px;
  }
  .desc-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .desc-list-item {
    margin-left: 30px;
    flex-basis: calc((738px - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .description {
    width: 1200px;
  }
  .desc-list {
    flex-wrap: nowrap;
  }
  .desc-list-item {
    flex-basis: calc((1200px - 90px) / 4);
  }
}

.workspace {
  width: 1200px;
  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
}

.work-title-list {
  display: flex;
}

.work-list-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.work-list-item:not(:first-child) {
  margin-left: 30px;
}

.work-item-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px;
  background: var(--blackout-dark);
}

.work-container-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color-light);
}

@media screen and (max-width: 1199px) {
  .workspace {
    display: none;
  }
}

.staff {
  background: var(--secondary-bg-color-light);
}

.staff-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.staff-list {
  margin-bottom: -30px;
}

.staff-list-person {
  margin-bottom: 30px;
  background-color: var(--background-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff-person-wrapper {
  border: 1px solid var(--background-color-light);
  border-top: none;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-right: 15px;
  padding-left: 15px;
}

.staff-person-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.staff-person-position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .staff-wrapper {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .staff-wrapper {
    width: 768px;
  }
  .staff-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .staff-list-person {
    flex-basis: calc((768px - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .staff-wrapper {
    width: 1200px;
  }
  .staff-list-person {
    flex-basis: calc((1200px - 120px) / 4);
  }
  .staff-person-wrapper {
    padding-bottom: 30px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.client-list-item {
  margin-bottom: 30px;
  margin-left: 30px;
}

.client-item-link {
  width: 210px;
  height: 92px;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item-link:hover, .client-item-link:focus {
  border: 1px solid var(--accent-color);
}

.client-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item-link:hover .client-icon,
.client-item-link:focus .client-icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients-wrapper {
    max-width: 480px;
  }
}

@media screen and (max-width: 479px) {
  .clients-list {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .clients-wrapper {
    width: 768px;
  }
  .client-item-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-wrapper {
    width: 1200px;
  }
  .client-item-link {
    width: 170px;
  }
}

.footer {
  background-color: var(--secondary-bg-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrapper {
  display: flex;
  width: 100vw;
}

/* DIV-1 - "footer-contacts" */
.footer__contacts {
  justify-content: center;
  width: 232px;
}

.logo__theme-light {
  color: var(--text-color-light);
}

.footer__list {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__list-item:not(:first-child) {
  margin-top: 8px;
}

.address {
  font-style: normal;
}

.address__link {
  color: var(--text-color-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.footer__list-link {
  color: var(--footer-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list-link:hover, .footer__list-link:focus {
  color: var(--accent-color);
}

/* DIV-2 - "footer-icons" */
.footer-join {
  width: 206px;
}

.footer__title {
  display: block;
  margin-bottom: 20px;
  color: var(--text-color-light);
}

.footer-join__link {
  background: var(--footer-link-bg);
}

.footer-join__icon {
  fill: var(--text-color-light);
}

/* DIV-3 - "footer-form" */
.footer-form__field {
  display: block;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: calc(100vw - 30px);
  height: 50px;
  padding: 15px 16px;
  color: var(--text-color-light);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  padding: 8px 26px;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .footer__wrapper {
    justify-content: center;
  }
  .logo-footer {
    display: block;
    text-align: center;
  }
  .footer__list {
    text-align: center;
  }
  .footer__title {
    text-align: center;
  }
  .footer-form__field {
    margin-bottom: 20px;
  }
  .footer-form__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts {
    margin-bottom: 60px;
  }
  .footer-join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 480px) {
  .footer__wrapper {
    width: 480px;
  }
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    width: 768px;
    align-items: baseline;
  }
  .footer__contacts {
    margin-right: 165px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    width: 1200px;
  }
  .footer__contacts {
    width: 231px;
    margin-right: 70px;
  }
  .footer__list-item:not(:first-child) {
    margin-top: 9px;
  }
  .footer-form {
    margin-left: auto;
  }
  .footer-form__wrapper {
    display: flex;
  }
  .footer-form__field {
    margin-right: 12px;
  }
  .footer-form__input {
    width: 358px;
  }
}

/* ====SECTION "port-projects" (UL-1 + UL-2)==== */
.port-wrapper {
  width: 100vw;
}

/* ===H1 - hidden=== */
/* ==UL-1 "prj-type"== */
.port-prj-type {
  display: flex;
  margin-bottom: 40px;
}

.port-type-item {
  margin-top: 15px;
  margin-left: 8px;
}

.port-item-btn {
  background-color: var(--secondary-bg-color-light);
  border: 2px solid transparent;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-item-btn:hover, .port-item-btn:focus {
  background-color: var(--accent-color);
  color: var(--portfolio-btn-active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ==UL-2 "prj-list"== */
.port-prj-list {
  margin-bottom: -30px;
}

.port-list-item {
  margin-bottom: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-list-item:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port-list-item-link {
  height: 100%;
  color: inherit;
}

.port-list-item-wrapper {
  position: relative;
  overflow: hidden;
}

.port-item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-list-item-link:hover .port-item-overlay,
.port-list-item-link:focus .port-item-overlay {
  transform: translateY(0%);
}

.port-item-wrapper {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 20px 24px;
}

.port-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.port-item-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .port-prj-type {
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -8px;
  }
}

@media screen and (min-width: 480px) {
  .port-wrapper {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .port-item-overlay {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .port-list-item-link {
    display: flex;
    flex-direction: column;
  }
  .port-item-wrapper {
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .port-wrapper {
    width: 768px;
  }
  .port-prj-type {
    justify-content: center;
    margin-bottom: 30px;
  }
  .port-prj-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .port-list-item {
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  .port-item-overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .port-wrapper {
    width: 1200px;
  }
  .port-prj-type {
    margin-bottom: 50px;
  }
  .port-list-item {
    flex-basis: calc((100% - 90px) / 3);
  }
  .port-item-overlay {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */