.clients {
}

.clients-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.client-list-item {
  margin-bottom: 30px;
  margin-left: 30px;
}

.client-item-link {
  @extend %align;
  width: 210px;
  height: 92px;
  justify-content: center;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.client-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .client-item-link:hover &,
  .client-item-link:focus & {
    fill: var(--accent-color);
  }
}

// @MEDIA RULES@
// 0px - 767px
@media screen and (max-width: 767px) {
  .clients-wrapper {
    max-width: 480px;
  }
}

// 0px - 479px
@media screen and (max-width: 479px) {
  .clients-list {
    justify-content: center;
  }
}

// 768px +
@media screen and (min-width: 768px) {
  .clients-wrapper {
    width: 768px;
  }

  .client-item-link {
    width: 226px;
  }
}

// 1200px +
@media screen and (min-width: 1200px) {
  .clients-wrapper {
    width: 1200px;
  }

  .client-item-link {
    width: 170px;
  }
}
