.description {}

.desc-title {}

.desc-list {
    display: flex;
}

.desc-list-item {
    flex-basis: calc((100% - 90px) / 4);

    &:not(:first-child) {
        margin-left: 30px;
    }
}

.desc-wrapper-icon {
    background: var(--secondary-bg-color-light);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
    padding-left: 100px;
}

.desc-icon {
    width: 70px;
    height: 70px;
    fill: var(--main-text-color);
}

.desc-item-title {
    margin-top: 30px;
}

.desc-item-text {
    margin-top: 10px;
    color: var(--secondary-text-color);
}