.header {
  position: relative;
  border-bottom: 1px solid var(--header-border-btm-cl);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--background-color-light);
}

.mobile__container {
  padding-left: 15px;
}

.logo__theme-dark {
  color: var(--header-sec-color);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  //   margin: 0;
  padding: 0;
  line-height: 0;
  fill: var(--main-text-color);
  cursor: pointer;
}

.mobile-menu-btn--burger {
}

.mobile-menu-btn__burger {
  fill: var(--header-sec-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .mobile-menu-btn:hover &,
  .mobile-menu-btn:focus & {
    fill: var(--accent-color);
  }
}

// mobile-menu-wrapper===
.mobile-menu-btn--close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu-btn__close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .mobile-menu-btn & {
  }

  .mobile-menu-btn:hover &,
  .mobile-menu-btn:focus & {
    fill: var(--accent-color);
  }
}

.nav-list {
  //     @extend %align;
}

.nav-list__link {
  //     position: relative;

  //     padding-top: 32px;
  //     padding-bottom: 32px;
  // color: inherit;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  //     .nav-list &.current {
  //         color: var(--accent-color);
  //     }

  //     .nav-list &.current::after {
  //         position: absolute;
  //         bottom: 0;
  //         left: 0;

  //         display: inline-block;
  //         content: "";
  //         width: 100%;
  //         height: 4px;
  //         background-color: var(--accent-color);
  //         border-radius: 2px;
  //     }
}

.header__contacts {
  display: flex;
  flex-direction: column;
  // @extend %align;
  // margin-left: auto;
}

.header__contacts-list {
  // &:not(:first-child) {
  // margin-left: 50px;
  // }
}

.header__contacts-link {
  //     @extend %align;
  //     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //     &:hover,
  //     &:focus {
  //         color: var(--accent-color);
  //     }
}

.mobile-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-left: -10px;
}

.mobile-menu-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-list__item-link {
  padding-right: 10px;
  padding-left: 10px;
  @include font(500, 18px, 22px, 0.02em);
  color: var(--accent-color);
}

// @MEDIA RULES@
// 0px - 767px
@media screen and (max-width: 767px) {
  .mobile__container {
    justify-content: space-between;
    padding-right: 15px;
  }

  .mobile-menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: var(--background-color-light);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;

      .header__container {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  .mobile-menu-wrapper__cont {
    position: relative;
    padding-bottom: 48px;
    padding-top: 48px;
  }

  .nav-list {
    @include font(500, 40px, 47px, 0.02em);
  }

  .nav-list__item:not(:first-child) {
    margin-top: 32px;
  }

  .header__contacts {
    margin-top: 302px;
  }

  .header__contacts-list {
    &:first-child {
      margin-top: 32px;
      order: 2;
    }
  }

  .header__email {
    color: var(--secondary-text-color);
    @include font(500, 24px, 28px, 0.02em);
  }

  .header__icon {
    display: none;
  }

  .header__phone {
    @include font(500, 34px, 40px, 0.02em);
    color: var(--accent-color);
  }
}

// 480px - 767px
@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile__container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-menu-wrapper__cont {
  }
}

// 480px +
@media screen and (min-width: 480px) {
  .mobile__container {
  }
}

// 768px +
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .mobile__container {
    margin-left: auto;
  }

  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu-wrapper {
    width: 530.91px;
    margin-left: 88px;
    margin-right: auto;
    padding-right: 15px;
  }

  .mobile-menu-wrapper__cont {
    display: flex;
    justify-content: space-between;
  }

  .navigation {
  }

  .header__text-style {
    @include font(500, 14px, 16px, 0.02em);
  }

  .nav-list__item:not(:first-child) {
    // margin-left: 50px;
  }

  .header__icon {
    //     fill: var(--secondary-text-color);
    //     margin-right: 10px;
    //     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    //     .header__contacts-link:hover &,
    //     .header__contacts-link:focus & {
    //         fill: var(--accent-color);
    //     }
  }

  .mobile-menu-list {
    display: none;
  }
}

// 1200px +
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .mobile-menu-wrapper {
    width: 946.73px;
    margin-left: 93px;
  }

  .mobile-menu-wrapper__cont {
  }

  .navigation {
  }
}
