.header {
  position: relative;
  border-bottom: 1px solid var(--header-border-btm-cl);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--background-color-light);
}

.header__container {
  justify-content: space-between;
}

// 480+
@media screen and (min-width: 480px) {
  .header__container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

// 768+
@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
  }

  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

// 1200+
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo__theme-dark {
  color: var(--header-sec-color);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  //   margin: 0;
  padding: 0;
  line-height: 0;
  fill: var(--main-text-color);
  cursor: pointer;
}

.mobile-menu-btn__burger {
  fill: var(--header-sec-color);

  .mobile-menu-btn:hover &,
  .mobile-menu-btn:focus & {
    fill: var(--accent-color);
  }

  .mobile-menu-btn.is-open & {
    display: none;
  }
}

// mobile-menu-wrapper===
.mobile-menu-wrapper {
  display: none;
}

.mobile-menu-btn__close {
  .mobile-menu-btn & {
    display: none;
  }

  .mobile-menu-btn:hover &,
  .mobile-menu-btn:focus & {
    fill: var(--accent-color);
  }

  .mobile-menu-btn.is-open & {
    display: block;
  }
}

.navigation {
  // margin-left: 94px;
}

// .header__text-style {
//     @include font (500, 14px, 16px, 0.02em);
// }

// .nav-list {
//     @extend %align;
// }

// .nav-list__item:not(:first-child) {
//     margin-left: 50px;
// }

// .nav-list__link {
//     position: relative;

//     padding-top: 32px;
//     padding-bottom: 32px;
//     color: inherit;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: var(--accent-color);
//     }

//     .nav-list &.current {
//         color: var(--accent-color);
//     }

//     .nav-list &.current::after {
//         position: absolute;
//         bottom: 0;
//         left: 0;

//         display: inline-block;
//         content: "";
//         width: 100%;
//         height: 4px;
//         background-color: var(--accent-color);
//         border-radius: 2px;
//     }
// }

.header__contacts {
  // @extend %align;
  // margin-left: auto;
}

// .header__contacts-list {
//     &:not(:first-child) {
//         margin-left: 50px;
//     }
// }

// .header__contacts-link {
//     @extend %align;
//     color: var(--secondary-text-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: var(--accent-color);
//     }
// }

// .header__icon {
//     fill: var(--secondary-text-color);
//     margin-right: 10px;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .header__contacts-link:hover &,
//     .header__contacts-link:focus & {
//         fill: var(--accent-color);
//     }
// }

// .mobile-menu {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   background: rgba(245, 245, 0, 0.5);
// }

// .mobile-menu__close-btn {
// }

// .mobile-menu__close-icon {
// }
