.port-main {
}

/* ====SECTION "port-projects" (UL-1 + UL-2)==== */
.port-projects {
}

.port-wrapper {
  width: 100vw;
}

/* ===H1 - hidden=== */
.port-prj-title {
}

/* ==UL-1 "prj-type"== */
.port-prj-type {
  display: flex;
  margin-bottom: 40px;
}

.port-type-item {
  margin-top: 15px;
  margin-left: 8px;
}

.port-item-btn {
  background-color: var(--secondary-bg-color-light);

  border: 2px solid transparent;
  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 20px;
  padding-left: 20px;

  font-family: inherit;
  @include font(500, 16px, 26px, 0.03em);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--portfolio-btn-active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/* ==UL-2 "prj-list"== */
.port-prj-list {
  margin-bottom: -30px;
}

.port-list-item {
  margin-bottom: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.port-list-item-link {
  height: 100%;
  color: inherit;
}

.port-list-item-wrapper {
  position: relative;
  overflow: hidden;
}

.port-item-img {
}

.port-item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-style: normal;
  @include font(400, 18px, 28px, 0.03em);

  color: var(--text-color-light);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .port-list-item-link:hover &,
  .port-list-item-link:focus & {
    transform: translateY(0%);
  }
}

.port-item-wrapper {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 20px 24px;
}

.port-item-title {
  @include font(700, 18px, 36px, 0.06em);
}

.port-item-type {
  @include font(400, 16px, 30px, 0.03em);
  color: var(--secondary-text-color);
}

// @MEDIA RULES@
// 0px - 1199px
@media screen and (max-width: 1199px) {
}

// 0px - 767px
@media screen and (max-width: 767px) {
  .port-prj-type {
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -8px;
  }
}

// 0px - 479px
@media screen and (max-width: 479px) {
}

// 480px - 767px
@media screen and (min-width: 480px) and (max-width: 767px) {
  // .port-list-item-link {
  //   display: flex;
  //   flex-direction: column;
  // }

  // .port-item-wrapper {
  //   flex-grow: 1;
  // }
}

// 480px +
@media screen and (min-width: 480px) {
  .port-wrapper {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .port-item-overlay {
    padding: 77px 24px;
  }
}

// 768px +
@media screen and (min-width: 768px) {
  .port-wrapper {
    width: 768px;
  }

  .port-prj-type {
    justify-content: center;
    margin-bottom: 30px;
  }

  .port-prj-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  .port-list-item {
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }

  .port-item-overlay {
    padding: 49px 24px;
  }
}

// 1200px +
@media screen and (min-width: 1200px) {
  .port-wrapper {
    width: 1200px;
  }

  .port-prj-type {
    margin-bottom: 50px;
  }

  .port-list-item {
    flex-basis: calc((100% - 90px) / 3);
  }

  .port-item-overlay {
    padding: 63px 24px;
  }
}
