.workspace {
  margin-top: 94px;
}

.work-title-list {
  display: flex;
}

.work-list-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.work-item-img {
}

.work-item-container {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  padding: 27px;
  background: var(--blackout-dark);
}

.work-container-text {
  font-style: normal;
  @include font(700, 14px, 16px, 0.03em);
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color-light);
}
