.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  overflow: auto;
  width: 450px;
  // width: calc(100vw - 30px);
  height: 609px;
  padding: 40px;

  background-color: var(--background-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  @extend %align;
  position: absolute;
  top: 8px;
  right: 8px;

  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: var(--accent-color);
  }
}

.modal-form-title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-style: normal;
  @include font(700, 20px, 30px, 0.03em);
}

// @MEDIA RULES@
// 480px +
// @media screen and (min-width: 480px) {
//   .modal {
//     width: 450px;
//   }
// }

// 1200px +
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }

  .modal-form-title {
    @include font(700, 20px, 23px, 0.03em);
  }
}
