.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.social-list-item {
  max-width: 100%;
}

.social-list-link {
  @extend %align;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--text-color-light);
  }
}
