.section-title {
  margin-bottom: 30px;
  @include font(700, 28px, 33px, 0.03em);
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include font(700, 36px, 42px, 0.03em);
  }
}

// dell →
.text-style-bold {
  @include font(700, 14px, 16px, 0.03em);
  text-transform: uppercase;
}

.text-style-normal {
  @include font(400, 14px, 24px, 0.03em);
}
// ← dell
