.container {
  padding-left: 15px;
  padding-right: 15px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.main {
}

.activity {
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  // 1200px +
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
