:root {
    --accent-color: #2196f3;
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --header-sec-color: #000000;
    --header-border-btm-cl: #ececec;
    --text-color-light: #ffffff;
    --background-color-light: #ffffff;
    --secondary-bg-color-light: #f5f4fa;
    --secondary-bg-color-dark: #2f303a;
    --hero-bg-color: #c4c4c4;
    --modal-btn-hover-color: #188ce8;
    --blackout-dark: rgba(47, 48, 58, 0.8);
    --icon-color: #afb1b8;
    --portfolio-btn-active-color: #ffffff;
    --border-color: #eeeeee;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --footer-link-bg: rgba(255, 255, 255, 0.1);
}